.custom-add-button {
    background-color: #ff8d0b;
    border-color: #ff8d0b;
    color: white;
}

.custom-file-button:hover, .custom-add-button:hover {
    opacity: 0.8;
}

.custom-add-button:hover {
    background-color: #ff8d0b;
    border-color: #ff8d0b;
}

.import-icon {
    font-size: 20px;
    margin-right: 7px;
}