#light {
  background-color: rgb(183, 196, 207);
  color: brown;
}

#dark {
  background-color: #242424;
  color: azure;
}

.switch {
  align-items: center;
  display: flex;
  width: fit-content;
}

.switch label {
  margin-right: 10px;
}