#light {
  background-color: rgb(183, 196, 207);
  color: brown;
}

#dark {
  background-color: #242424;
  color: chartreuse;
}

.switch {
  border: 2px solid;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  width: fit-content;
}

.switch label {
  margin-right: 10px;
}
