.title {
    text-align: center;
    margin-bottom: 30px;
    margin: 30px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

footer {
    text-align: left;
    margin-left: 10px;
    margin-top: 290px;
}

footer p {
    margin: 0;
    font-size: 14px;
}